body
{
 Font-Family: Verdana, serif;
 Font-size: 14px;
}
.small
{
 Font-size: 10px;
}
.menu_table
{
 position: absolute;
 z-index: 100;
 display:none;
 BORDER:1PX SOLID #5C945C;
 FILTER:PROGID:DXIMAGETRANSFORM.MICROSOFT.SHADOW(COLOR=#E0EDE0, DIRECTION=135, STRENGTH=4);
 Margin-bottom: 0px; Margin-top: 0px; Margin-left: 0px; Margin-right: 0px;
 Padding-bottom: 1px; Padding-top: 1px; Padding-left: 1px; Padding-right: 1px;
 BackGround-color: #F8FEF8;
 Width:150;
}

.menu_def
{
 Text-align: left;
 Padding-top: 2px; Padding-right: 3px;
 Padding-bottom: 2px; Padding-left: 1px;
 BackGround-color: #E0EDE0;
 BORDER:0PX;
 CURSOR:hand;
 Font-Family: Verdana, SANS-SERIF;
 Font-size: 11px;
 WHITE-SPACE:NOWRAP;
 color: #5C945C;
}

.menu_hover
{
 Text-align: left;
 Padding-top: 2px; Padding-right: 3px;
 Padding-bottom: 2px; Padding-left: 1px;
 BackGround-color: #F3F8F3;
 BORDER:0PX;
 CURSOR:hand;
 Font-Family: Verdana, SANS-SERIF;
 Font-size: 11px;
 WHITE-SPACE:NOWRAP;
 color: #5C945C;
}


A
{
 Font-Family: Verdana, serif;
 Font-size: 12px;
 font-weight: bold;
 Text-decoration: none;
 color: #5C945C;
}

A:hover
{
 Font-Family: Verdana, serif;
 Text-decoration: underline;
 color: #6C946C;
}

.small
{
 Font-size: 10px;
}
input,select
{
 height:20;
 Font-Family: Arial;
 Font-size: 12px;
 Border-color: #B1CFB4;
 Border-style: solid;
 Border-width: 1px;
 BackGround-color: #F1F8EF;
}
select
{
 height:18;
 Margin-top: 0px; Margin-right: 0px;
 Margin-bottom: 0px; Margin-left: 0px;
 Padding-top: 0px; Padding-right: 0px;
 Padding-bottom: 0px; Padding-left: 0px;

}
button
{
 cursor:hand;
 Border-width: 0px;
 width:84;
 height:20;
 Background:url('img/button.gif');
 BackGround-position: center center;
 BackGround-Repeat: no-repeat;
 Font-Family: Arial;
 Font-size: 12px;
 Letter-spacing: 1px;
 Text-align: center;
 Margin-top: 0px; Margin-right: 0px;
 Margin-bottom: 0px; Margin-left: 0px;
 Padding-top: 2px; Padding-right: 0px;
 Padding-bottom: 0px; Padding-left: 0px;
}