body { font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; color: #000000}
a:link {color: #22229c}
a:visited {color: #22229c}
a:hover {color: #ff4400}
a:active {color: #ff4400}
a.as {text-decoration: underline}
a.as:link {text-decoration: none}
a.as:visited {text-decoration: none}
a.as:hover {text-decoration: underline}
a.as:active {text-decoration: none}
.page {color: #000000; background-color: #ffffff}
td {font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif}
th {font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif}
p {font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif}
.tborder {border-right: #0b198c 1px solid; border-top: #0b198c 1px solid; border-left: #0b198c 1px solid; color: #000000; border-bottom: #0b198c 1px solid; background-color: #d1d1e1}
.tcat {background: #869bbf repeat-x left top; font: bold 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif; color: #ffffff}
.tcat a:link {color: #ffffff; TEXT-DECORaTION: none}
.tcat a:visited {color: #ffffff; TEXT-DECORaTION: none}
.tcat a:hover {color: #ffff66; TEXT-DECORaTION: underline}
.tcat a:active {color: #ffff66; TEXT-DECORaTION: underline}
.alt2 {color: #000000; background-color: #e1e4f2}
textarea,input {font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif background: #FFFFFF; border: 1pt solid #CCCCCC; color: #222222 }
.smallfont {font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif}
.smallfont2 {font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif}
.big {font-size: 12pt; font-weight: bold; font-family: arial}
td.thead {padding-right: 4px; padding-left: 4px; padding-bottom: 4px; padding-top: 4px}
form {DISPLaY: inline}
.imgborder {border-right: #b2b2b2 1px solid; padding-right: 1px; border-top: #b2b2b2 1px solid; padding-left: 1px; padding-bottom: 1px; border-left: #b2b2b2 1px solid; padding-top: 1px; border-bottom: #b2b2b2 1px solid}
.te {font-size: 11px; font-weight: bold; color: #ffffff; font-family: verdana, tahoma, helvetica, sans-serif}
.menuskin {position:absolute; border:1px solid black; visibility:hidden;}
.menu_white {color: #ffffff}
.head {font-size: 12px; color: #d20000; font-family: verdana; font-weight: bold}

